
<new-meal (onSubmitNewMeal)="createMeal($event)"></new-meal>

<select (change)="onChange($event.target.value)" class="filter userIn healthSelect bottomInput">
  <option value="all" selected="selected">Show All</option>
  <option value="healthy">Show Unhealthy</option>
  <option value="unHealthy">Show Healthy</option>
</select>

<div class="display">  
  <edit-meal-details *ngIf="selectedMeal" [meal]="selectedMeal"></edit-meal-details>
</div>

<div class="display">
  <meal-display *ngFor="#currentMeal of mealList | health:filterHealth"
    (click)="mealClicked(currentMeal)"
    [class.selected]="currentMeal === selectedMeal"
    [meal]="currentMeal">
  </meal-display>
</div>
