<select (change)="onChange($event.target.value)" class="filter">
  <option value="all">Show All</option>
  <option value="health">Show Done</option>
  <option value="notHealthy" selected="selected">Show Not Done</option>
</select>
<meal-display *ngFor="#currentMeal of mealList | health:filterDone"
  (click)="mealClicked(currentMeal)"
  [class.selected]="currentMeal === selectedMeal"
  [meal]="currentMeal">
</meal-display>
<edit-meal-details *ngIf="selectedMeal" [meal]="selectedMeal"></edit-meal-details>
<new-meal (onSubmitNewMeal)="createMeal($event)"></new-meal>
